$primary-color: lightgrey;
$secondary-color: lightyellow;

$text-color: cornflowerblue;
$override-text-color: green;

%shared-properties,
.shared-properties {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: $text-color;
}

@import './header-footer';
@import './body';

